.is-table{display:table}.is-colcell{display:table-cell;float:none;vertical-align:top}.is-colcell p{line-height:34px}section.pricing{position:  relative;background-color:#fff;text-align:center;padding-bottom:40px;z-index: 99;}section.pricing h4,section.testimonials h4{font-family:'Circular Std';color:#16a085;margin:0;text-transform:uppercase;line-height:28px;font-size:18px}section.pricing h2,section.testimonials h2{font-family:'Circular Std';padding:0;font-size:38px;margin:0;line-height:38px;margin-bottom:16px;font-weight:900;text-transform:capitalize;color:#2e2e2e}section.pricing .sensation-prev,section.pricing .sensation-next{opacity:0 !important}section.singles{padding:0px 0px 0px 0px}section.pricing p,section.testimonials p{font-family:'Circular Std Book';font-size:24px;line-height:28px;color: #3a3a3a;}section.pricing .single,.package-detail .single{padding:25px 15px;min-height:612px;border:1px solid #16a085;position:relative;overflow:hidden;margin-bottom: 20px;}.package-detail p{font-size:20px}.package-detail .single ul{height:280px}.package-detail div.single ul li{line-height:26px}span.old-price{display:inherit;font-family:'Circular Std';font-size:16px;font-weight:bold;position:relative;width:100%;margin:0px auto 7px}i.cut::before{content:"";width:60px;height:2px;display:block;background:#9e9c9c;position:absolute;left: 0;top:44%;right: 0;margin: 0 auto;}div.single h6{text-transform:uppercase;font-size:12px;color:#16a085;margin:0px}div.single h3{font-family:'Circular Std';text-transform:uppercase;font-size:28px;font-weight:bold;color:#2d2b25;max-width:270px;margin:15px auto}div.single p{font-family:'Circular Std Book';font-size:14px;line-height:16px;color:#2d2b25;font-weight:600;margin-bottom:10px}div.single p:first-of-type{padding-bottom:20px;margin:0;color:#7b7b7b;font-weight:400;padding:0px 40px 10px 40px}div.single span.price{font-family:'Circular Std';font-size:42px;font-weight:bold;color:#16a085;margin:0;line-height:36px;margin-bottom: 30px;display: inline-block;}div.single ul{margin-top:4px;margin-bottom:0px !important;height:80px;overflow-x:hidden;overflow-y:auto}div.single ul.no-scroll{height:120px}div.single ul li{font-size:14px;line-height:22px;color: #000000;}div.single input[type=submit].btn,section.testimonials input[type=submit].btn{border-radius:0px;height:auto;margin-bottom:22px;margin-top:22px;width:190px;text-align:center;outline:none}div.single p span{color:#16a085}section.pricing .single.best-seller{padding:30px 15px;overflow:hidden;position:relative}.best-seller ul{margin-bottom:0}.best-seller::before{content:"BEST SELLER";color:#fff;font-size:12px;font-weight:bold;vertical-align:middle;padding:7px 10px;text-indent:-32px;display:block;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);height:35px;width:180px;background-color:red;position:absolute;border:2px solid #b70000;box-shadow:2px 1px 5px 0px #b7b7b7;right:-70px}.video-frame{position:relative;height:100%;background:url(../img/video-fram.png);max-width:100%;top:0px;background-size:100%;min-width:620px;min-height:465px}section.testimonials{background-color:#f9f9f9}section.testimonials h2{text-transform:inherit}.ipad_frame video{background:#000;position:absolute;width:80%;height:80%;left:80px;top:44px}section.services h3{font-family:'Circular Std';font-weight:900;font-size:24px;line-height:28px;text-align:left;margin:0 0 10px 0;color:#2e2e2e}section.services p{font-size:18px;line-height:24px}section.services span{font-family:'Circular Std Book';font-size:64px;line-height:50px;color:#e0e0e0}section.services a{font-family:'Circular Std';font-weight:bold;font-size:12px}.service-row{margin-bottom:60px}div.talk-anchor a{font-family:'Circular Std';font-size:18px;font-weight:bold;text-transform:uppercase;color:#2e2e2e}section.count{background-color:#efefef;background-position:right}.book-area{background:url('../img/book.png') no-repeat}section.count{background:url('../img/project-highlights.png') no-repeat;background-size:cover}section.count span{font-family:"Circular Std";font-weight:900;font-size:72px;color:#16a085;line-height:72px}section.count h6{font-family:"Circular Std";font-weight:bold;font-size:18px;line-height:28px;text-transform:uppercase;color:#2e2e2e;margin-top:0}section.count .count-area{padding:20px 0px}.maps-section{overflow:hidden;min-height:500px}.maps{position:relative;padding-top:64px}.maps .map{background-color:#000;width:100%;height:100%;min-height:500px}.contact .address{background-color:#fff}div.single-address{width:100%;padding-left: 40px !important;padding-top: 100px;}section.maps div{padding-left:0;padding-right:0;}.single-address a{color:#2e2e2e;font-family:'Circular Std Book';font-weight:600;font-size:16px;padding-bottom:10px;padding-left:20px;display:block}.single-address a.btn-green{color:#fff;margin:10px 0px 0px 0px;padding:17px;display:inline-block;font-size:12px;font-weight:400}.single-address a i{color:#8c8c8c;margin-left:-20px;padding-right:20px}.single-address a:hover{text-decoration:none}.about-img{background-size:cover}section.about .dt{display:table;min-height:600px;width:100%}section.about .dc{display:table-cell;vertical-align:middle;padding-left:90px}.full-width{position:relative;width:100%}.no-pad-right{padding-right:0}.no-pad-left{padding-left:0}.no-overflow{overflow:hidden}.hero-subservices h3,.hero-subservices h4,.hero-subservices p{text-align:left}.hero-subservices p{font-size:22px}section.breakdown h5{text-transform:uppercase;font-family:'Circular Std';font-weight:900;color:#4c4c4c}section.breakdown ul li{font-size:16px;list-style:initial;margin-left:16px;margin-top:20px}section.breakdown .company_profile{margin:0 auto}.tab-wrap{margin-top:24px}section.qualities .quality-img,section.awards .awards-img,section.process .process-img{text-align:center;padding:0px 0px;display:inline-block}section.process h4{font-size:18px;line-height:22px;padding-top:5px;color:#2e2e2e}section.process p{font-size:18px;line-height:normal}section.process p.main{font-size:24px;line-height:28px}section.call-actions .fa{font-size:36px;float:left;color:#16a085;margin-left:15px;margin-top:25px}section.call-actions .fa-mobile-phone{font-size:50px;margin-top:20px}div.slash::after{content:"";display:block;position:absolute;top:10px;left:349px;width:1px;height:70px;background:#e6e6e6;-webkit-transform:rotate(14deg);-moz-transform:rotate(14deg);-o-transform:rotate(14deg);transform:rotate(14deg)}div.slash2::after{left:287px}section.call-actions{border:1px solid #e6e6e6;margin-top:20px;padding:10px 20px;background:#fff}section.call-actions h3{font-size:26px;margin-top:23px;padding-left:65px}section.call-actions .phone-div h3{padding-left:55px}.phone-div{padding-left:48px}section.call-actions h3 span{display:block;font-size:18px;color:#16a085;font-family:'Circular Std Book';font-weight:200}section.call-actions h4{padding-top:26px}section.call-actions h2{font-size:16px;margin:0px;line-height:22px;text-transform:capitalize;padding:11px 11px 11px 30px;color:#2c2c2c}section.awards .awards-img img{margin:0 auto}.has-border{border-right:1px solid #dedede}.wrapper{width:400px;font-family:'Roboto', sans-serif;margin:0 auto}.skill{margin-bottom:30px;position:relative;overflow-x:hidden}.skill > p{font-size:18px;font-weight:700;color:#1a1716;margin:0}.skill:before{width:100%;height:8px;content:"";display:block;position:absolute;background:#cacaca;bottom:0}.skill-bar{width:100%;height:8px;background:#16a085;display:block;position:relative}.skill1{width:95%}.skill h4{font-size:16px;font-weight:400}.skill-bar span{color:#636b6f;position:absolute;border-top:5px solid #f4392f;top:-35px;padding:0;font-size:18px;padding:3px 0;font-weight:500}.skill-bar{position:relative}.skill1 .skill-count1{right:0}.skill2{width:85%}.skill2 .skill-count2{right:0}.skill3{width:99%}.skill3 .skill-count3{right:0}.skill4{width:65%}.skill4 .skill-count4{right:0}.skill5{width:80%}.skill5 .skill-count5{right:0}.skill6{width:100%}.skill6 .skill-count6{right:0}section.progress-area{background-color:#fff}.progress-area p{margin-bottom:0px}section.progress-bars h4{color:#636b6f}.marg-btm{margin-bottom:20px}#quoteForm textarea.form-control{resize:none;min-height:105px;padding-top:14px}ul.tabs{width: 76%;margin:0px;padding:0px;list-style:none;text-align:center;margin: 60px auto;}ul.tabs li{margin-bottom: 5px;font-family:'Circular Std';font-weight:200;background:none;text-transform:uppercase;color:#2c2c2c;background-color:#f5f5f5;display:inline-block;font-size:12px;min-width:175px;padding:10px 15px;cursor:pointer;line-height:23px;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}ul.tabs li:hover{background:#505050;color:#fff}ul.tabs li.current{background:#505050;color:#fff}.tab-content{display:none}.tab-content.current{display:inherit}.thankyou-services{background-color:#dcdcdc;height:450px;position:relative;background-attachment:fixed;padding-top:0px;background-size:cover;overflow:hidden}section.thankyou .actions{margin-top:20px}.btn-line-active{border-top-color:#c0392b;border-right-color:#c0392b;border-bottom-color:#db0a58;border-left-color:#db0a58}.orderNowQuote{min-width:100%;margin:8px 0px;background-color:#fff;color:#2f2f2f; font-weight: 900; text-decoration:none;height:50px;font-size:12px;text-transform:uppercase;font-family:'Circular Std';display:inline-block;padding:16px 15px;outline:none;border:none;min-width:175px;text-align:center;text-transform:uppercase;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease}.call-action small button{background:transparent;border:none;color:#000;font-weight:600;text-transform:uppercase}#header-sroll.small .call-action small button{color:#000}ul#news_parent{display:none}#news_parent li.tweets{max-height:40px;overflow:hidden;max-width:165px;text-overflow:ellipsis;padding-bottom:42px;margin-bottom:16px;border-bottom:1px solid #464646}.tweets img{height:20px;width:auto;float:left;vertical-align:middle;padding-right:10px;padding-top:2px}#header-sroll.small .call-action small button{color:#000}@media only screen and (min-width:0px) and (max-width:480px){section.about h4,section.about h3,section.about p,section.breakdown h5{text-align:center !important}section.about .dc{padding:8px}section.about .no-pad-left{padding-right:0}section.about .about-img{height:300px;background-size:cover}.maps{display:grid;height:600px}.addresses{display:grid}.get_quote *,section.testimonials *,.service-row *{text-align:center !important}.xs-padding{padding:20px}.cup,.cam,.hand,.flower{display:none}.portfolio-jump{bottom:40px}}.help-block{background: rgba(255,255,255,0.8);
  padding: 3px 8px;
  margin-top: 0px;
}

.banner-portfolio {
  background:url(../img/banners/portfolio.jpg) center center;
  background-size:cover;
  height:100%;
  min-height:400px;
  margin-top:20px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column; /* NEW */
}

.banner-portfolio h4 {
  display:block;
}

.portfolio-container {position:relative;}
.grid {text-align:center !important; padding:30px 0; position:relative; display:block;}
.grid-item { width: 25%;  padding:20px; disply:inline-block;}
.grid-item img {border:1px solid #e6e6e6; border-radius:10px;}

.grid-item img {
  /* -webkit-filter: grayscale(100%); */
  -moz-filter: grayscale(100%);
  /* filter: grayscale(100%); */
  box-shadow: none;
  border:2px solid #e6e6e6;
  transition: all 0.2s ease;
}

.grid-item img:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border:2px solid #16a085;
  /* -webkit-filter: grayscale(0%); */
  -moz-filter: grayscale(0%);
  /* filter: grayscale(0%); */
}
@media screen and (max-width: 768px) {
  /* 5 columns for larger screens */
  .grid-item { width: 50%; }
}

@media screen and (max-width: 480px) {
  /* 5 columns for larger screens */
  .grid-item { width: 100%; }
  .button-group {
    width:auto;
  }
}

.button-group {
  text-align:center;
  margin: 10px auto;
  padding-top: 40px;
}

.industry.cs-select {
  width:200px;
  margin:0 auto;
}
.industry .cs-placeholder {

  width:200px;
  color:#444444;
  background:#f4f4f4;
}
.swal2-container {
  z-index:99999 !important;
}

@media only screen and (max-width: 480px) and (min-width: 0px)
{
.call-action span {font-size: 11px;}
.button-group {width:auto;}
.grid-item {width: 50% !important; }
}


.portfolio-container .btn-primary {
    font-size:14px;
    color:#444444;
    background-color: #f4f4f4;
    border-color: none;
    border:0px;
}

.portfolio-container .btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
  color:#ffffff;
}

.portfolio-container .btn-primary.active {
  background-color: #444444;
  border-color: #16a085;
  color:#ffffff;
}

.portfolio-container .btn-lg {
    padding: 7px 12px;
  }

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 12px 15px;
    height: 50px;
  }

  .cs-select ul span {
    padding: 7px;
  }

.button-group button {
  margin:0 4px;
}

.swal2-modal .swal2-close {
  top:0px !important;
}


.btn-promotion {
  text-decoration:none; display:block; font-size:18px; border:2px solid #16a085; width:160px; margin:0 auto; padding:20px; position:relative; top:-130px;
}

.btn-promotion:hover {
  background:#16a085;
  color:#fff;
}



div.single ul li{padding-left: 20px;text-align: left;position: relative;}
div.single ul li:before{position: absolute;content: "";left:0;top: 8px;height: 5px;width: 5px;border-radius: 50%;background: #7b7b7b;}
div.single ul li.heading{
    font-size:  16px;
    font-weight: 700;
    color: #2d2b25;
    padding: 5px 0;
}

div.single ul li.heading:before{display:none;}


.secondary-nav-wrap{display: none;}
#header-sroll ul#navigation li a{color: #000;padding: 15px 15px;}
#header-sroll ul#navigation li:hover a{color: #000!important;}
#header-sroll ul#navigation ul li a:hover{color: #fff!important;}
#header-sroll.small ul#navigation li a{color: #000!important;}




#header-sroll ul#navigation ul {
    top: 45px;
    left: 0px;
}

#header-sroll.small ul#navigation ul {
    top: 49px;
    left: 0px;
}

span.inclusive {color: #ffffff;text-align: center;}


header .logo-inside a {background-image: url(../img/whitelogo.svg);}

.hero-subservices{background-size: cover!important;}
.hero-services{background-size: cover!important;}

.main-menu{left: -130px;}



/*mgraphics start*/




.mgraphics{}
.mgraphics .bancontentwrap h3{color: #fff;}
.mgraphics .bancontentwrap h5{color: #fff;
    text-align: center;
    font-family: 'Circular Std';
    font-weight: 600;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}

.mgraphics .bancontentwrap p{color: #fff;}
.mgraphics .bancontentwrap .purewhite{   border: 1px solid #fff !important;
    color: #fff !important;
    border: 0;
    height: 50px;
    box-sizing: border-box;
    padding: 16px 15px;
    font-family: 'Circular Std';
    
    font-size: 12px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    min-width: 175px;
    text-align: center;
    text-transform: uppercase;
    
  }


  .gro-bg{background: rgba(22, 160, 133, 0.25)!important;}

  .peto-bg{ background: rgba(52, 152, 219, 0.25)!important;}   

  
  .alio-bg{background: rgba(231, 76, 60, 0.25)!important;}

  .puro-bg{    background: rgba(154, 18, 179, 0.25)!important;}

  .sano-bg{    background: rgba(68, 108, 179, 0.25)!important;}
  .mado-bg{    background: rgba(44, 62, 80, 0.25)!important;}
  
  .seao-bg{background: rgba(154, 18, 179, 0.25);}

  .blackoverlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(../img/video-overlay.png) rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}


#header-sroll.wowo {
    background: #fff;
    padding: 23px 0px;
    height: 80px;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 1px -10px 26px #b7b7b7;
}

header #header-sroll.wowo .logo a {
    background-position: center -52px ;
}
.motiong .logo-gre {
    background-position: center -52px!important ;
    -webkit-transition: all 300ms ease-in-out;
}

#header-sroll.wowo .main-menu{display: block;}



.webpg .hero-services,.motiong .hero-services{margin-top: 80px;}
.process.jackass{display: none;}
.motiong .process{display: none;}
.motiong .process.jackass{display: block;}


.motiong .process-img span {
        display: inline-block;
    width: 175px;
    background: #fff;
    height: 175px;
    margin-top: 20px;
    /* border: 1px solid; */
    box-shadow: 0px 0px 60px -10px #00000012;
    border-radius: 50%;
    padding-top: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}
.motiong .process-img span img{}

.motiong .grid{width: 1170px; margin: 0 auto;}
.motiong .grid .grid-item{    padding: 2px;}
.motiong .grid .grid-item img{    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    box-shadow: none;
    border: 2px solid #e6e6e6;
    transition: all 0.2s ease;}
.motiong .grid .grid-item img:hover{    box-shadow: none;
    border: 2px solid #e6e6e6;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);}

.visiblecustom{display: none;}
.motiong .hidecustom{display: none;}
.motiong .visiblecustom{display: block;}


.visibleweb{display: none;}
.webpg .hideweb{display: none;}
.webpg .visibleweb{display: block;}


.visiblecustom{display: none;}
.magazinpg .hidecustom{display: none;}
.magazinpg .visiblecustom{display: block;}


.qualitysec{padding:0px 0 60px;}
.qualitysec h4{}
.qualitysec h2{font-family: 'Circular Std';
    padding: 0;
    font-size: 38px;
    margin: 0;
    line-height: 38px;
    margin-bottom: 16px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    color: #2e2e2e;}
.qualitysec p{   text-align: center; font-family: 'Circular Std Book';
    font-size: 24px;
    line-height: 28px;
    color: #8c8c8c;font-weight: 200;}

.qualitysec .box-wrap{    background-color: #fff;
    border-radius: 10px;
    padding: 32px 30px;
    box-shadow: 0 0 40px #dadada;
    margin-top: 30px;    min-height: 250px;}
.qualitysec .box-wrap figure{    color: #fff;
    font-size: 24px;
    line-height: 140px;
    font-weight: 700;
    height: 180px;
    width: 180px;
    text-align: center;
    border-radius: 500px;
    float: left;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8285a',endColorstr='#90298b',GradientType=1);
    background-color: #fbfafb;}
.qualitysec .box-wrap figure img{    border-radius: 50%;}
.qualitysec .box-wrap .text-wrap{    float: right;
    width: 280px;}
.qualitysec .box-wrap .text-wrap h3{text-align: left;    padding-top: 16px;
    font-size: 22px;color: #2e2e2e;
    text-transform: none;
    
    font-family: 'Circular Std';
    font-weight: 900;
    
    margin: 0 0 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;}
.qualitysec .box-wrap .text-wrap p{    font-size: 16px;
    text-align: left!important;    color: #4f4f4f;
    line-height: 22px;
    font-weight: 200;
    font-family: 'Circular Std Book';}



.motiong section.testimonial2{background-color: #fff;}

/*mgraphics end*/


.single{min-height: 645px!important;}
.paddingtap{margin-top: 40px;}



.jack{}
.jack li{    padding-left: 20px;
    text-align: left;
    position: relative;    font-size: 14px;
    line-height: 22px;
    color: #000;}


.jack li:before {
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #7b7b7b;
}

.doublewrap h6 {
    text-transform: uppercase;
    font-size: 12px;
    color: #16a085;
    margin: 0px;
}

.doublewrap{
      padding: 25px 40px;
      min-height: 612px;
      border: 1px solid #16a085;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
}

.doublewrap h3{
font-family: 'Circular Std';
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #2d2b25;
    
    margin: 15px auto;}

.doublewrap p.parara {
  font-family: 'Circular Std Book';
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 30px;
  margin: 0;
  color: #7b7b7b;
  font-weight: 400;
  padding: 0px 40px 20px 40px;
}


.doublewrap span.price {
    font-family: 'Circular Std';
    font-size: 42px;
    font-weight: bold;
    color: #16a085;
        margin: 0 0 20px;
    display: inline-block;
    line-height: 36px;
}

.doublewrap span.price small {
    vertical-align: baseline;
    margin-left: 1px;
    font-size: 20px;
}

.doublewrap input[type=submit].btn {
    border-radius: 0px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 0;
    width: 190px;
    text-align: center;
    outline: none;
}

.doublewrap p.nichaywala {
    font-family: 'Circular Std Book';
    font-size: 14px;
    line-height: 16px;
    color: #2d2b25;
    font-weight: 600;
    margin-bottom: 10px;
}


div.doublewrap ul li.heading {
    font-size: 16px;
    font-weight: 700;
    color: #2d2b25;
    padding: 5px 0;
}
div.doublewrap ul li.heading:before{display: none;}


.priccc{
    padding-top: 20px;
    width: 49%;
    float: left;
    text-align: left;
}
.priccc .old-price{}
.priccc i.cut::before{left: 0px;right: auto;}
.wrapk{
    text-align:  right;
    width: 49%;
    float: right;
    padding-top: 20px;
}
.wrapk input.btn{}
.chatt{padding-top: 20px;text-align: left;}

.chatt a.action-no{font-size: 26px;}
.chatt .actions .action-chat{font-size: 26px;}
.chatt h2{font-size: 20px!important;}

.wrapk .view-detail{
    margin-bottom: 0;
}







.testimonial{    background: #f9f9f9;}
.testimonial .item{display: inline-block;text-align: left;margin-top: 20px;}
/*.testimonial .item:nth-child(even) .itext{min-height: 210px;    padding: 30px 48px;}*/

.testimonial .item .itext{background: #fff;width: 320px;padding: 44px 28px;margin-bottom: 26px;text-align: left;position: relative;min-height: 233px;border-radius: 10px;box-shadow: 4px 2px 31px 0 #ccc;}
.testimonial .item .itext:before{position: absolute;content: "\f0dd";font-family: "FontAwesome";bottom: 5px;left: 20px;color: #fff;/* width: 30px; */font-size: 54px;line-height: 0;}
.testimonial .item .itext .star{}

.testimonial .item .itext .star i{color: #ffdd65;font-size: 16px;}
.testimonial .item .itext p{font-size: 16px;color: #3a3a3a;line-height: 1.4;padding-right: 4px;margin-top: 15px;}
.testimonial .item .icli{padding: 0px 0 0 10px;display: inline-block;}
.testimonial .item .cliimg{display: inline-block;width: 60px;background: #16a085;margin-right: 20px;height: 60px;border-radius: 50%;vertical-align: top;}
.testimonial .item .cliimg img{width: 100%;    border-radius: 50%;}
.testimonial .item .cliname{display: inline-block;padding-top: 10px;}
.testimonial .item .cliname h6{font-size: 15px; margin: 0 0 5px; color: #202020;}
.testimonial .item .cliname p{font-size: 15px; color: #3a3a3a; line-height: 1.5; margin: 0;}
.testimonial .item .cliimg span{color: #fff;font-size: 22px;padding-top: 13px;text-align:  center;width: 100%;border-radius: 50%;display: inline-block;}




.portfolioSection{
    text-align: center;
    padding: 60px 0 0px;
}
.portfoliolist{margin-bottom: 0px;}
.portfolioSection h5{
    background:  #f1f0fe;
    color:  #756bff;
    font-size: 16px;
    margin: 0 auto 20px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: 400;
    width: 150px;
}
.portfolioSection h2{
    text-transform:  capitalize;
    color: #323637;
    font-weight:  300;
    font-size: 56px;
    width: 100%;
    padding-bottom: 20px;
}
.portfolioSection h2 span{
    color:  #323637;
    /* font-family: var(--secondary-font-family); */
    font-weight: 400;
}
.portfolioSection p{
    width: 100%;
    color:  #4a4e51;
    font-size:  22px;
    line-height: 1.2;
    padding-bottom: 40px;
}


.border-box-effect {position: relative;padding: 10px;display: inline-block;}
.border-box-effect img {width: 475px;height: 266px;}

.border-box-effect figure{margin-bottom: 0px;}
.border-box-effect:before {
border-bottom: 3px solid #FFF;
border-left: 3px solid #FFF;
-webkit-transform-origin: 0 100%; }
.border-box-effect:after {
border-top: 3px solid #FFF;
border-right: 3px solid #FFF;
-webkit-transform-origin: 100% 0%; }
.border-box-effect:before, .border-box-effect:after {
width: calc(100% - 30px);
height: calc(100% - 30px);
z-index: 3;
content: '';
position: absolute;
top: 15px;
left: 15px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-o-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
z-index: 1; }
.border-box-effect:hover:before, .border-box-effect:hover:after {
-webkit-transform: scale(1); }
.border-box-effect > * {
position: relative;
display: block; }
.border-box-effect > *.new-anim:after {
content: "\e92d";
font-family: 'ingicdesign';
color: #fb2224;
font-size: 50px; }
.border-box-effect > *:before {
background: rgba(0, 0, 0, 0.2);
content: '';
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
z-index: 2;
display: none;
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
transition: 0.6s; }
.border-box-effect > *:after {
content: "+";
font-size: 74px;
color: #ffffff;
text-align: center;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 40px;
height: 40px;
line-height: 36px;
z-index: 2;
font-weight: 200;
display: none;
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
transition: 0.6s; }
.border-box-effect > *:hover:before, .border-box-effect > *:hover:after {
display: block; }

.portwrapper{margin-top: 40px;}




.mainvideo{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100vw;
      min-height: 100vh;
      width: auto;
      height: auto;
      z-index: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
}


.video-overlay {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background: url(../img/video-overlay.png) rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height:  100vh;
}

.testimonial,.add_border,.process,section.count,.subscribe_fold,.portfolio_fold,.hero-home {position: relative;}

.promotion-wrapper,.client-wrpper{z-index: 99;}

.actions a {position: relative;z-index: 99;}

.hero.hero-home p,.hero-home img.gifi{z-index: 99; position: relative;color: #fff;}
.process,.awards,.qualities{position: relative;background: #fff;}


.flag{padding-top: 0px;}
.flag i{background: url(../img/flags/sprite02.png);background-repeat: no-repeat;width: 50px;height: 32px;display: block;margin-top: 10px;}
.flag i.one{background-position: 0px 0px;}
.flag i.two{background-position: -54px 0px;}
.flag i.three{background-position: -107px 0px;}
.flag i.four{background-position: -157px 0px;}
.flag i.five{background-position: -211px 0px;}
.flag i.six{background-position: -262px 0px;}
.flag i.seven{background-position: -315px 0px;}
.flag i.eight{background-position: -366px 0px;}
.flag i.nine{background-position: -419px 0px;}
.flag i.ten{background-position: -473px 0px;}
.flag i.eleven{background-position: -524px 0px;}
.flag i.twelve{background-position: -576px 0px;}
.flag i.thirteen{background-position: -628px 0px;}
.flag i.fourteen{background-position: -680px 0px;}
.flag i.fifteen{background-position: -732px 0px;}
.flag i.sixteen{background-position: -784px 0px;}
.flag i.seventeen{background-position: -836px 0px;}
.flag i.eighteen{background-position: -888px 0px;}
.flag i.ninteen{background-position: -940px 0px;}
.flag i.twenty{background-position: -992px 0px;}



.logopg .hidelogodesign{display: none;}

.logopg .hero-subservices{min-height: 760px;}
.logopg .hero-subservices .d_t{width: 100%;}

.websitepg .hidelogodesign{display: none;}

.websitepg .hero-subservices{min-height: 760px;}
.websitepg .hero-subservices .d_t{width: 100%;}




.counter{display: block;}
.counter ul{display: inline-block;width: 100%;margin-bottom: -6px;font-size: 0;}
.counter ul li{width: 25%;float: left;min-height: 132px;padding: 28px 50px;}
.counter ul li:nth-child(1){background: #ffa739;}
.counter ul li:nth-child(2){background: #fb5f39;}
.counter ul li:nth-child(3){background: #921a5e;}
.counter ul li:nth-child(4){background: #32347a;}
.counter ul li a:hover{color: #fff;}
.counter ul li a figure{float: left;width: 25%;margin-bottom: 0;}
.counter ul li a figure img{max-width: 64px;}
.counter ul li a .wrap{width: 70%;float: right;color: #fff;font-size: 22px;/* margin-left: 45px; */}
.counter ul li a .wrap span.small{color: #fff;font-size: 12px;}
.counter ul li a .wrap p{color: #fff;font-size: 13px; line-height: 16px;}
.counter ul li a .wrap span{display: inline-block;color: #fff;}


.partners-cta{padding-bottom: 0px;margin-top: -75px;/* padding: 10px 0 0px; *//* background:#fb5740; */}
.partners-cta .container-custom{width: 1270px;margin: 0 auto;}
.partners-cta ul{z-index: 9;margin-bottom: 0;text-align:  center;width:  100%;display: inline-block;}
.partners-cta ul li{/* margin: 0 30px 0; */display: inline-block;}
.partners-cta ul li:last-child{margin-right: 0px;}
.partners-cta ul li figure{margin-bottom: 0px;}
.partners-cta ul li figure img{margin: 0 auto;display: table;width: 150px;}


.mt-15{margin-top: 12%;}


.banr-txt{text-align:  left;font-family: 'Circular Std'!important;}
.banr-txt h2 {
    line-height: 1.1;
    text-align: left;
    font-size: 54px;
    color: #fff;
    font-weight: 900;
    text-transform: capitalize;
}
.banr-txt p{display: block;font-size: 18px!important;color: #fff!important;padding-bottom: 0px!important;}
.banr-txt > ul{margin: 20px 0;font-size:0; }
.banr-txt > ul li{    text-align: left;position: relative; font-size: 18px; color: #fff; padding: 0 0 2px 30px; font-weight: 500;}
.banr-txt > ul li:before{position: absolute;content: "\f058";font-size: 19px;color: #ffa739;left: 0px;top: 0;font-family: "fontawesome";}
.banr-txt > ul li span{font-weight: 500;}
.banr-txt .banner-bot{}
.banr-txt .banner-bot ul{font-size: 0;}
.banr-txt .banner-bot ul li{display: inline-block;/* width: 28%; */vertical-align: bottom;}
.banr-txt .banner-bot ul li a{cursor: default;}
.banr-txt .banner-bot ul li a img{}

a.nomber{color: #f8be4a; font-size: 18px; font-weight: 700; margin-left: 10px;}
a.nomber span{color: #fff;}

a.start{
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    color: #b5285f;
    background: #ffffff;
    /* border-radius: 10px; */
    font-size: 14px;
    margin: 0 0 30px;
    text-transform: uppercase;
}
a.start:hover{text-decoration: none;}
a.slideImg{cursor: default;}
.formwrap .formhead h2:before,.banr-txt h2:before{display: none;}
.responsive-unique-design a{cursor: default;}
a.nomber:hover{text-decoration: none;}
.formwrap{background-color: #fff;margin: 0px 0 0 120px;/* border-radius: 20px; */padding: 20px;}
.formwrap .formhead{}
.formwrap .formhead h2{margin: 0 0 20px;color: #000;font-weight: 400;font-size: 28px;text-align: center;}
.formwrap .formhead h2 span{font-weight: 900;display: block;}

.formwrap .hero_form{}
.formwrap .hero_form .form-control{ color: #000;    border: 1px solid #e0e0e0;    padding: 6px 24px;border-radius: 10px;}

.formwrap .hero_form .col-md-6{width: 100%;}

.formwrap .hero_form .margin-bottom-20{margin-bottom: 10px;}
.banr-txt h2 small{color: #fff;}

.slimScrollBar{background: #6c6c6c !important; }

.counter ul li a{cursor: default;}

.counter ul li:nth-child(1) {
    background: #ffa739;
    padding: 28px 50px;
}
 

.counter ul li:nth-child(1) {
    background: #ffa739;
    padding: 28px 30px;
}


.brandsBg{width: 100%;background: #fff;position: relative;z-index: 2;box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.81);display: block;-webkit-box-shadow: 0px 6px 20px 0px rgba(119, 119, 119, 0.2);}

.brandsslide{
  float: left;
    width: 100%;
          height: 95px;
    background-color: #fff;
    background: #fff;


}
.brandsslide p{
  float: left;
  width: 100%;
  padding: 14px 26px;
  color:#000;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 0;
}





.newcounter{
    display: block;
    width: 100%;
}
.newcounter ul{
    display: block;
    width: 100%;
    margin-bottom: 0;
    min-height: 104px;
}
.newcounter ul li{
    float: left;
    text-align: center;
    background: #000;
    width: 20%;
    min-height: 104px;
    padding: 20px 24px;
}
.newcounter ul li.green-color{background-color: #17a085;}
.newcounter ul li.blue-color{background-color: #3c97d3;}
.newcounter ul li.purple-color{background-color: #884b9d;}
.newcounter ul li.yellow-color{background-color: #e47d24;}
.newcounter ul li.orange-color{background-color: #e64d3c;}
.newcounter ul li .icoside{display: inline-block;vertical-align: middle;margin-right: 10px;}
.newcounter ul li .icoside span{
    font-size: 50px;
    color: #fff;
}

.newcounter ul li .textside{
    display: inline-block;
    vertical-align: middle;
}
.newcounter ul li .textside h5{
    vertical-align: middle;
    margin: 0;
    text-align: left;
    font-size: 16px;
    color: #fff!important;
    font-weight: 400;
}




.designunigue{
    box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.81);
    -webkit-box-shadow: 0px 6px 20px 0px rgba(119, 119, 119, 0.2);
    padding: 20px 0;
}
.designunigue p{
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    padding-top: 6px;
}
.designunigue p strong{}
.designunigue ul{
    display: block;
    margin-bottom: 0;
}
.designunigue ul li{
    float: left;
}
.designunigue ul li:first-child{
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #ccc;
    width: 218px;
}
.designunigue ul li:nth-child(2){
     width: 706px;
}
.designunigue ul li:last-child{
       text-align: right;
       /* width: 226px; */
}
.designunigue ul li span{
    color: #000;
    font-size: 14px;
    display: block;
}
.designunigue ul li a{
    color: #fff;
    padding: 9px 40px;
    margin-top: 4px;
    display: inline-block;
    font-size: 16px;
    background-color: #17a085;
}

.subimages{
    display: inline-block !important;
    width: 100%;
    text-align: center;
}
.subimages li{
    margin: 0 7px;
}
.subimages li:nth-child(2){width: auto !important;}
.subimages li:first-child{border-right: 0px!important;margin-right: 7px !important;padding-right: 0px !important;width: auto!important;}
.subimages li img{}
.subimages li:last-child{width: auto!important;}
.subimages li h6{
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
}

.designunigue ul li a:hover{text-decoration: none;}





.threeitems{display: none;}
.d_t{width: 100%;}
.subpagesclass .fouritems{display: none;}
.subpagesclass .threeitems{display: block;}
.subpagesclass .threeitems .newheading{    width: 80%;
    margin: 10px auto;}
.subpagesclass .threeitems .newparagraph{    width: 80%;
    margin: 0px auto 11px;}

.single .quaterheading{
    font-size: 14px;}

.single .quaterheading span{    display: block;}







.formbullets{
    display: inline-block;
    text-align: center;
}
.formbullets li{
    width: 50%;
    text-align: left;
    position: relative;
    font-size: 14px;
    color: #000;
    padding: 0 0 2px 20px;
    font-weight: 500;
    float: left;
    }
.formbullets li:before{
    position: absolute;
    content: "\f058";
    font-size: 14px;
    color: #ffa739;
    left: 0px;
    top: 0;
    font-family: "fontawesome";
    }





.partners-cta.new{
    margin-top: 0;
    padding: 20px 0;
}

.partners-cta.new ul li figure img{
    width: 190px;
}


.qualities.nopadding{padding: 0px;}

.websitepg .hero-subservices.forweblp{    background: url(../img/banners/design-eminent-web.png) no-repeat;        background-position: top center !important;}
.logopg .hero-subservices.forlogolp{    background: url(../img/banners/design-eminent-logo-2x.png) no-repeat;        background-position: top center !important;}
.designunigue.topnegative{}

.bulletwasec{
    padding: 0px 0 20px;
    margin-top: -58px;
}
.bulletwasec .bulletswrapper{}
.bulletwasec .bulletswrapper ul{
    margin-bottom: 0px;
}
.bulletwasec .bulletswrapper ul li{
    width: 25%;
    padding: 0 40px;
    /* display: inline-block; */
    float: left;
}
.bulletwasec .bulletswrapper ul li h6{
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.bulletwasec .bulletswrapper ul li h6 span{
    display: block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
}


.formwrap.left{padding-top: 0;margin-left: 0px;}
.formwrap.left .formhead{
    text-align: left;
}
.formwrap.left .formhead h2{
    color: #239f85;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.formwrap.left .formhead p{
    color: #3c3c3c;
    font-size: 18px;
    line-height: 1.4;
}
.formwrap.left .formhead h2 span{
    font-size: 38px;
    color: #000;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 10px;
}
.formwrap.left #quoteForm{
    margin-right: 100px;
}
.formwrap.left .form-control{height: 45px;}
.formwrap.left #quoteForm textarea.form-control{min-height: 90px;}

.formwrap.left .field-mergedleft.margin-bottom-10{margin-bottom: 0px;}
.formwrap.left .field-mergedleft.margin-bottom-10 .clearfix.margin-bottom-20{margin-bottom: 5px;}
.formwrap.left .field-mergedleft.margin-bottom-10 .text-center{
    text-align: left;
}

.banr-txt h1{color: #fff;font-size: 72px;font-weight: 900;line-height: 62px;margin-top: 90px;margin-bottom: 30px;}
#changecolor{color: #239f85;font-size: 18px;}
.banr-txt > ul li:before{content:"\f00c";color: #fff;}



/*floating strips css start */
.floating_wrap{
    position: relative;
    z-index: 99999;
    display: none;
}
.floating_wrap .btns_wrap{position: fixed;right: 0;}
.floating_wrap .btns_wrap a:hover{text-decoration: none!important;right: 0px;}
.floating_wrap .btns_wrap .call_wrap{
    width: 260px;
    position: fixed;
    right: -195px;
    background: #fff;
    top: 22%;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 40px #00000026 !important;
}
.floating_wrap .btns_wrap .call_wrap i{
    color: #fff;
    background: #16a085;
    font-size: 26px;
    padding: 15px 23px;
    border-right: 1px solid #ded9d9;
    vertical-align: middle;
    
}
.floating_wrap .btns_wrap .call_wrap span{
    color:#16a085;
    font-size: 20px;
    vertical-align: middle;
    background: #fff;
    padding: 15px 20px 15px 15px;
}
.floating_wrap .btns_wrap .chat_wrap{
    display: block;
    position: fixed;
    right: -195px;
    width: 260px;
    background: #fff;
    top: 13%;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 40px #00000026 !important;
}
.floating_wrap .btns_wrap .chat_wrap i{
    color: #fff;
    background: #16a085;
    font-size: 25px;
    padding: 15px 20px;
    border-right: 1px solid #ded9d9;
    vertical-align: middle;
    
    }
.floating_wrap .btns_wrap .chat_wrap span{
    color:#16a085;
    font-size: 20px;
    vertical-align: middle;
    background: #fff;
    padding: 15px 30px 15px 15px;
}
/*floating strips css end */

/*floating form css start */

.floating_wrap .float_form_box{
    position: fixed;
    right: 0;
}
.floating_wrap .float_form_box .floating_form{
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    top: 31.5%;
    position: fixed;
    right: -334px;
    width: 400px;
    font-size: 0px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 0px 40px #00000026 !important;
}
.floating_wrap .float_form_box .floating_form .floating_strip{
    float: left;
    width: 66px;
    overflow: hidden;
    height: 467px;
    position: relative;
    background: #16a085;
    
}
.floating_wrap .float_form_box .floating_form .floating_strip .rotatekaro{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
}
.floating_wrap .float_form_box .floating_form .floating_strip .rotatekaro a:hover{text-decoration: none;}
.floating_wrap .float_form_box .floating_form .floating_strip .rotatekaro a{
    color: #fff;
    font-size: 24px;
    width: 467px;
    text-align: center;
    height: 66px;
    padding-top: 16px;
    position: absolute;
    transform: rotate(360deg);
}
.floating_wrap .float_form_box .floating_form .floating_inner{
    width: 83.5%;
    background: #fff;
    float: right;
    padding: 20px 30px 15px 30px;
}
.floating_wrap .float_form_box .floating_form .floating_inner h3{
    font-size: 24px;
    color: #16a085;
    margin-bottom: 0;
}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap{
    padding-top: 20px;
}

.floating_wrap .float_form_box .floating_form .floating_inner h3:before{display: none;}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap .hero_form{}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap .hero_form .form-control{
    color: #000;
    border: 1px solid #bdbcbc;
    border-radius: 10px;
    height: 44px;
}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap .hero_form textarea.form-control{
    height: 85px;
}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap .hero_form input#quoteSubmit{
    border-radius: 10px;
    width: 100%;
}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap .hero_form .field-mergedright{
}
.floating_wrap .float_form_box .floating_form .floating_inner .form_wrap .hero_form .margin-bottom-20{
    width: 100%;
    margin-bottom: 11px;
    padding-right: 15px;
}

.floating_wrap .float_form_box .floating_form.open{right: 0px;-ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;}


.notscroll{    overflow: hidden;}
.notscroll .floating_wrap:before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.82);
    z-index: -1;}

/*floating form css end */



.showlogotab #tab1.tab-content{display: block;}
.hidealltabs .tabs{display: none;}
.hidealltabs .packages-tabs{padding-top: 60px;}
.quality h4{color: #2e2e2e !important;}



.illustrativelogopg .hero-subservices{background-color: #fbfcff !important;background-image: url(../img/banner-bg.png);background-position: bottom center;background-size: contain !important;min-height: 150vh;background-repeat: no-repeat;}
.creativelogopg .hero-subservices {
    background-color: #fbfcff !important;
    background-image: url(../img/banners/profissional-logo-design.png);
    background-position: center top;
    background-size: cover!important;
    min-height: 800px;
    background-repeat: no-repeat !important;
}

.magazinpg .hero-subservices {
    background-color: #fbfcff !important;
    background-image: url(../img/banners/mgbanner.svg);
    background-position: 0 -40px;
    background-size: cover!important;
    min-height: 853px;
    background-repeat: no-repeat !important;
}
.banner-mytext{text-align: center;/* padding-top: 160px; */}


.banner-mytext form{}
.banner-mytext form input{/* margin-bottom: 20px; */}
.banner-mytext textarea {overflow: auto;resize: none;height: 38px;}

.banner-mytext .btn-green{border-radius: 4px;}


.banner-mytext  .form-control {display: block;width: 100%;padding: 10px 15px;font-size: 14px;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.banner-list{}
.banner-list ul{margin: 0;}
.banner-list ul li{position: relative;padding: 0 30px;display: inline-block;}
.banner-list ul li:before{position: absolute; content: "\f058"; font-size: 19px; color: #f1410f; left: 0px; top: 0; font-family: "fontawesome";}


.banner-mytext h2{
    color: #000;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 20px;
}
.banner-mytext p{
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
    max-width: 70%;
    margin: 0 auto 30px;
}
.banner-mytext .myform{
    width: 75%;
    display: inline-block;
    margin: 0 auto 20px;
}
.banner-mytext .myform form{
    font-size: 0;
}
.banner-mytext .myform form .flset{
    display: inline-block;
}
.banner-mytext .myform form .flset.half{
    width: 25%;
}
.halfround{border-radius: 5px 0px 0px 5px !important;}
.banner-mytext .myform form .flset.full{}

.illustrativelogopg .hidecustom{display: none;}
.creativelogopg .hidecustom{display: none;}
.banner-mytext .myform form .flset input[type="submit"]{
    border-radius: 0px 5px 5px 0;
}
.banner-mytext{}
.banner-mytext .mylist{}
.banner-mytext .mylist li{
    position: relative;
    display: inline-block;
    margin: 0 40px;
    font-size: 16px;
}

.banner-mytext .mylist li:before{
    content: "\f00c";
    position: absolute;
    font-size: 18px;
    color: #16a085;
    left: -25px;
    top: -2px;
    font-family: "fontawesome";
}
.banner-mytext .simplecta{
    font-size: 18px;
    text-decoration: underline;
}
.banner-mytext .simplecta i{}
section.process p.main{width: 80%; margin: 0 auto;}

.illustrativelogopg .hidelogodesign{display: none;}
.illustrativelogopg section.process p.main{margin-bottom: 30px;}
section.call-actions,.btn-green,.illustrativelogopg .nav-toggle,.illustrativelogopg .call-action a{border-radius: 5px;}
.illustrativelogopg .sub-footer ul li.newsletter .subscribe input[type="email"],.illustrativelogopg .subscribe-now input[type="email"]{border-radius: 5px 0px 0px 5px !important;}
.illustrativelogopg section.pricing .single, .illustrativelogopg .package-detail .single{border-radius:5px;}
.cs-select span,.illustrativelogopg .get_quote .form-control,.illustrativelogopg div.single input[type=submit].btn{border-radius: 5px;}
.illustrativelogopg .sub-footer ul li.newsletter .subscribe button{border-radius: 0px 5px 5px 0px;}

.illustrativelogopg .hideillustrative{display: none;}


.creativelogopg .hidelogodesign{display: none;}
.creativelogopg section.process p.main{margin-bottom: 30px;}
section.call-actions,.btn-green,.creativelogopg .nav-toggle,.creativelogopg .call-action a{border-radius: 5px;}
.creativelogopg .sub-footer ul li.newsletter .subscribe input[type="email"],.creativelogopg .subscribe-now input[type="email"]{border-radius: 5px 0px 0px 5px !important;}
.creativelogopg section.pricing .single, .creativelogopg .package-detail .single{border-radius:5px;}
.cs-select span,.creativelogopg .get_quote .form-control,.creativelogopg div.single input[type=submit].btn{border-radius: 5px;}
.creativelogopg .sub-footer ul li.newsletter .subscribe button{border-radius: 0px 5px 5px 0px;}

.creativelogopg .hideillustrative{display: none;}
.mytestimonials{
    padding: 60px 0 90px;
    overflow: hidden;
    background: #f9f9f9;
    width: 100%;
}
.mytestimonials .textwrapper{
    /* padding-top: 30px; */
    text-align: left;
}
.mytestimonials .textwrapper h4{
    text-align: left;
}
.mytestimonials .textwrapper h3{
    text-align: left;
}
.mytestimonials .textwrapper p{
}
.mytestimonials .mytestimonialswrap{
    width: 100%;
}
.mytestimonials .mytestimonialswrap .fortestslider{
    margin-bottom: 0;
    width: 144%;
    font-size: 0px;
}
.mytestimonials .mytestimonialswrap .fortestslider li{
      
    background: #fff;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    width: 525px;
    height: 280px;
    padding: 40px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    vertical-align: top;
}
/*.mytestimonials .mytestimonialswrap .fortestslider li:hover{box-shadow: 0px 0px 20px 1px #d2d2d2;}*/
.mytestimonials .mytestimonialswrap .fortestslider li blockquote{
    padding: 0;
    font-size: 18px;
    border-left: 0;
    line-height: 1.4;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo{
    position: absolute;
    bottom: 40px;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .initials{
    display: inline-block;
    width: 60px;
    background: #16a085;
    margin-right: 20px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .initials h5{
    color: #fff !important;
    font-size: 22px;
    margin: 0;
    padding-top: 19px;
    text-align: center;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .otherhalf{
    display: inline-block;
    /* padding-top: 10px; */
    vertical-align: middle;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .otherhalf h4{
    font-size: 14px;
    margin: 0 0 5px;
    color: #202020 !important;
    text-align: left;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .otherhalf h4 span{
    font-size: 12px;
    color: #868383;
    line-height: 1.5;
    margin: 0;
    display: block;
}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .otherhalf .star{}
.mytestimonials .mytestimonialswrap .fortestslider li .reviewerinfo .otherhalf .star i{color: #ffdd65;
    font-size: 16px;}



.mytestimonials .mytestimonialswrap .fortestslider .sensation-dots li{position: relative;
    display: inline-block;
    width: 20px !important;
    height: 20px!important;
    background: transparent;
    border: 0px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;}
.mytestimonials .mytestimonialswrap .fortestslider .sensation-dots li button{}

.mytestimonials .mytestimonialswrap .fortestslider .sensation-dots{text-align: left;}

.mytestimonials{display: none;}
.creativelogopg .hidecreative{display: none;}


.illustrativelogopg .mytestimonials{display: block;}
.illustrativelogopg .testimonial{display: none;}

.creativelogopg .mytestimonials{display: block;}
.creativelogopg .testimonial{display: none;}

.myquote{overflow: hidden;}
.myquote h4{text-align: left!important;}
.myquote h3{text-align: left!important;}
.myquote p{text-align: left!important;}
.myquote figure img{max-width: 140%;    position: inherit;float: left;}



.creativelogopg .banr-txt h1{
    font-size: 58px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 25px;
}
.myadvanceform{
    width: 80%;
}
.myadvanceform h3{
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    margin-top: 0;
}
.myadvanceform h3 strong{
    font-size: 30px;
    display: block;
}

.myadvanceform .form-control{
    height: 40px;
    background-color: transparent;
    border: 1px solid #d4d4d4;
    color: #fff;
    border-radius: 5px;
}


.myadvanceform .field-mergedleft{}
.myadvanceform .field-mergedleft .margin-bottom-20{
    margin-bottom: 6px;
}
.myadvanceform .field-mergedleft .text-center{
    text-align: left;
}
.myadvanceform .field-mergedleft .text-center .btn-green{}
.myadvanceform span {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.4;
}
.myadvanceform span a{font-size: 16px;}



@media only screen and (max-width: 767px) and (min-width: 0px)   {
  .mytestimonials .textwrapper h4{text-align: center;}
  .mytestimonials .textwrapper h3{text-align: center;}
  .mytestimonials .textwrapper p{text-align: center;}
  .mytestimonials .mytestimonialswrap .fortestslider .sensation-dots{text-align: center;}
  .mytestimonials .mytestimonialswrap .fortestslider li{width: 100%;padding: 20px;margin: 0;height: 320px;}
  .mytestimonials .mytestimonialswrap .fortestslider{width: 100%!important;}
  .banner-mytext h2{font-size: 32px;}
  .banner-mytext p{max-width: 100%;font-size: 18px;}
  .banner-mytext .myform form .flset.half{width: 100%;}
  .banner-mytext .myform form .flset{margin-bottom: 10px;}
  .banner-mytext .myform form .flset input[type="submit"]{width: 100%;border-radius: 5px;}
  .banner-mytext .myform form .flset.full{width: 100%;}
  .portfolio_fold h3{font-size: 24px;}
  section.pricing p, section.testimonials p{font-size: 16px;}
  .fouritems h3 br{display: none;}
  h3{font-size: 24px;}
  .illustrativelogopg section.process p.main{font-size: 16px;width: 100%;}
  .creativelogopg section.process p.main{font-size: 16px;width: 100%;}
  
  .banner-mytext .mylist{text-align: left;}
  .banner-mytext .myform{width: 100%;}



  .newcounter ul{display: inline-block;min-height: auto;}
  .newcounter ul li{min-height: auto;}
  .designunigue{display: none;}
  .newcounter ul li{width: 100%;}
    .banr-txt h2{font-size: 26px;}
    .banr-txt p{    font-size: 16px!important;line-height: 1.3;}
    .formwrap{margin:0px;}
    .banr-txt{    padding-top: 60px;}
    .banr-txt > ul li{font-size: 16px;}
    a.nomber{display: block;margin-bottom: 10px;}
    .banr-txt .banner-bot ul li{width: 25%;}
    .banr-txt .banner-bot ul li:nth-child(2){margin:0 20px;}
    .banr-txt .banner-bot {padding: 12px 0;}
    .partners-cta{display: none;}
    .formwrap .formhead h2{font-size: 20px;}
    .formwrap .hero_form .form-control{height: 35px;}
    .prologodesign .hero-banner,.prologodesign .hero{height: auto!important;}
    .hero-banner{background-size: cover;background-repeat: no-repeat;    padding-bottom: 20px;    background-position: top left !important;}
    .counter ul li{width: 100%;}
    .responsive-unique-design{display: none;}
    .prolog{width: 100%;}
    .prolog .portfolio{width: 100%;}
    .container{width: 100%;}
    .footer_content > p,.para_max,section p{font-size: 14px;line-height: 1.4;}
    .header-content{padding-right: 0px;}
    #header-sroll.small .call-action span, .call-action span,.header-content .call-action span{display: block;}
    .testi_box{margin-top: 80px;}
    .cs-select span,.get_quote .form-control{height: 35px;    padding: 5px 18px;    text-align: left !important;}
    .margin-bottom-20,.field-mergedright.margin-bottom-20 {margin-bottom: 8px;}
    .get_quote{padding-bottom: 30px;}
    .freeConsultation .consultationTitle,.footer_title{font-size: 20px;line-height: 1.2;}
    .pricingConsultationBlk{display: none;}
    
    .stars i{font-size: 10px;}
    #header-sroll.wowo .main-menu{display: none;}
    .main-menu{display: none;}
    .logopg .hero-subservices.forlogolp{    background-position: top left !important;}
    .banr-txt h1{    margin-top: 0px;
    font-size: 50px;
    line-height: 1;}
    .formwrap.left{background: transparent;}
    .formwrap.left #quoteForm{margin-right: 0px;}
    .formwrap.left .formhead h2 span{color: #fff;}
    .formwrap.left .formhead p{color: #fff;}
    .formwrap.left .field-mergedleft.margin-bottom-10 .text-center{margin-left: 6px;}
    .bulletwasec{display: none;}
    .is-colcell{display: inline-block;}
    section.pricing .single, .package-detail .single{    padding: 25px 0px;}
    p br{display: none;}
    .floating_wrap{display: none!important;}


}


@media only screen and (max-width: 320px) and (min-width: 0px){

.banr-txt {padding-top: 60px;width: 100%;}
.formwrap {margin: 0px;display: block; width: 100%;}






}


@media only screen and (min-width: 1600px) {
  .banner-mytext {
    padding-top: 10%;
  }
}


.videotestimonials{
    padding: 60px 0;
}
.videotestimonials .textpart{
    padding-top: 60px;
    padding-left: 50px;
    position: relative;
}
.videotestimonials .textpart:before{content: "\f10d";font: normal normal normal 14px/1 FontAwesome;position: absolute;left: 0;font-size: 36px;color: #2e2e2e;}
.videotestimonials .textpart h3{
    margin: 0 0 15px;
    font-size: 32px;
    margin-top: 0;
    letter-spacing: -.015em;
    max-width: 300px;
    text-align: left;
    color: #2e2e2e;
}
.videotestimonials .textpart p{
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.videotestimonials .textpart h6{
    font-size: 14px;
    margin: 0;
}
.videotestimonials .textpart .ratings{
    margin-top: 20px;
    padding-top: 20px;
    display: inline-block;
    width: 50%;
    border-top: 1px solid #e6e6e6;
}
.videotestimonials .textpart .ratings i{
    color: #ffdd65;
    font-size: 20px;
    margin-right: 5px;
}
.margintop-test{margin-top: 60px;}
div.cs-select{display: inline-block!important;}


.creativelogopg ul#navigation{display:none;}
.pdtop{padding-top: 30px !important;}

.magazinpg ul#navigation{display:none;}
.banr-txt h1{font-size: 60px;line-height: 1;margin-top: 70px;}

.myslwrap{display: inline-block;width:100%;padding-top: 60px;}
.myslwrap .magazineslider{display: inline-block;width:100%;}
.myslwrap .magazineslider .myit{text-align: center;}
.myslwrap .magazineslider .myit img{margin: 0 auto;}
.rushhour{position: relative;}
.rushhour:after{    content: "Free Rush Delivery";
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    padding: 7px 10px;
    text-indent: -32px;
    display: block;
    -ms-transform: rotate(-51deg);
    -webkit-transform: rotate(-51deg);
    transform: rotate(-51deg);
    height: 35px;
    width: 250px;
    background-color: red;
    position: absolute;
    border: 2px solid #b70000;
    box-shadow: 2px 1px 5px 0px #b7b7b7;
    left: -73px;
    top: 21px;}